---
const { username } = Astro.params;
let profile = {
  username: username,
  avatar_url: "",
  display_name: "",
  accent: "",
  bio: "",
  status: "",
  badges: [],
  message: "Loading profile...",
};
await fetch(
  `https://api.voicenext.app/api/v1/profile/public?username=${username}`
)
  .then((res) => (res.ok ? res.json() : Astro.redirect("/404")))
  .then((data) => {
    profile = data;
  });

import Layout from "../layouts/TextLayout.astro";
---

<Layout title={`@${username}`}>
  {
    profile.avatar_url !== "" ? (
      <img
        src={profile.avatar_url}
        alt={`@${profile.username}`}
        width='120'
        height='120'
        class='rounded-full border-4 inline mr-3sm float-left cursor-pointer bg-surface-secondary -mt-3sm hover:brightness-105 transition-all'
        id='avatar'
        style={`border-color: ${profile.accent}`}
      />
    ) : (
      ""
    )
  }
  <h1 class='m-0 mt-2md'>
    {profile.display_name}
    <p class='m0 text-text-primary'>@{profile.username}</p>
  </h1>
  <ul>{
    profile.badges ? profile.badges.map((badge) => {
      return <li class="inline-block mr-xs mt-xs"><img src={`/badges/${badge}.svg`} alt={`${badge} badge`} width="24" height="24" /></li>
    }) : ""
  }</ul>
  <br /><br />
  <p>{profile.bio ? profile.bio : ""}</p>
  <span class='hidden' id='profile'>{JSON.stringify(profile)}</span>
  <audio id='audio' src={profile.status}></audio>
  <script src='../js/profile.js'></script>
</Layout>